GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
JWT_SECRET=
ALLOWED_EMAILS=
# Application is now open access. Use this variable only if you want to restore restrictions in app/routes/auth/google-callback.tsx.